
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using (Html.BeginForm("AddToCart", "ShowBooks", FormMethod.Post))
{
    <div class="container">
        <h2 class="text-center">Books</h2>

        @foreach (var Item in Model)
        {
            <div class="col-md-3" style="margin-bottom:30px; border: 2px solid black">
                <div style="text-align:center; border-bottom:1px solid maroon">
                    <img src="~/Book/@Item.Image" style="width:200px; height:200px;" />

                    <h4>@Item.Image</h4>
                    <h4>@Item.BookName</h4>
                    <h4>@Item.Author</h4>
                    <h4>@Item.Price</h4>
                    <h4>@Item.Quantity</h4>
                    <h4>@Item.Category.CategoryName</h4>


                    <span class="btn btn-default">@Html.ActionLink("Add To Cart", "AddToCart", new { id = @Item.BookID })</span>

                </div>
            </div>

        }

    </div>}

